body {
  background-image: url('https://prezentokracja.pl/media/catalog/category/Wroclaw-prezenty-atrakcje.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  margin: 0 auto;
  text-align: center;
}

h1 {
  text-shadow: 2px 2px 4px #000000;
  font-size: 50px;
}